{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
    }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "mocha":   true
  },   
  "extends": [
    "eslint:recommended", 
    "plugin:react/recommended"
  ],    
  "rules": {
    "max-len": [1, 70, 2, {ignoreComments: true}],
    "indent": [
      "error", 2],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
  }
}
